<template>
  <li class="catalog__item">
    <a class="catalog__pic" href="#">
      <img :src="product.thumbnail" :alt="product.title">
    </a>

    <h3 class="catalog__title">
      <a href="#">
        {{product.title}}
      </a>
    </h3>

    <span class="catalog__price">
      {{ product.price}} ₽
    </span>

    <ul class="colors colors--black">
      <li class="colors__item">
        <label class="colors__label">
          <input class="colors__radio sr-only" type="radio" name="color-3" value="#939393" checked="">
          <span class="colors__value" style="background-color: #939393;">
                  </span>
        </label>
      </li>
      <li class="colors__item">
        <label class="colors__label">
          <input class="colors__radio sr-only" type="radio" name="color-3" value="#FF6B00">
          <span class="colors__value" style="background-color: #FF6B00;">
                  </span>
        </label>
      </li>
      <li class="colors__item">
        <label class="colors__label">
          <input class="colors__radio sr-only" type="radio" name="color-3" value="#222">
          <span class="colors__value" style="background-color: #222;">
                  </span>
        </label>
      </li>
    </ul>
  </li>
</template>

<script>
export default {
  props: ['product']
}
</script>